@charset "utf-8";
.bgmove {
	animation-duration: 1s;
	animation-delay: 0s;
	animation-name: bgmove;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes bgmove {
	0%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}